html, body
{
    background-color: #323637; 
    height: 100%;
}

#logo
{
    object-fit: contain; /* Do not scale the image */
    object-position: center;
    min-width: 100%;
    max-width:75%;
    max-height:250px;
    margin-top: 32px;
}

.subtitle 
{
    width: 80%;
    max-width: 560px;
    padding-top: 48px;
    padding-bottom: 8px;
    font-size: 150%;
    font-style: bold;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: white;
    text-align: left;
    margin: 0 auto;
}

.center-text 
{
    text-align: center;
}

.center-div 
{
    display: block;
    margin: 0 auto;
    padding-bottom: 48px;
}

.youtube-embed {
    width: 80%;
    max-width: 560px;
    height: 315px;
}

.fancy {
    line-height: 0;
    text-align: center;
}
.fancy span {
    display: inline-block;
    position: relative;  
}
.fancy span:before,
.fancy span:after {
    content: "";
    position: absolute;
    height: 5px;
    border-top: 1px solid white;
    top: 0;
    width: 50px;
}
.fancy span:before {
    right: 100%;
    margin-right: 8px;
}
.fancy span:after {
    left: 100%;
    margin-left: 8px;
}

#course-container {
    text-align: center;
    margin-top: 16px;
    font-size: 24px;
}

.link {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    position: relative;
    padding-left: 6px;
    /* Font styles */
    text-decoration: none;
    color: white;
}

.link:hover {
    color: Gainsboro;
}

.link:before {
    content: "\25BA";
    font-size: 80%;
    padding-right: 3px;
    pointer-events: none;
}

.link:hover:before {
    color: white;
}